/*
 *	HTML5 Device Mockups
 *
 *	By:
 *		Tomi Hiltunen
 *		tomi@mitakuuluu.fi
 *		http://fi.linkedin.com/in/tomihiltunen/
 *		
 *		Angelos Arnis
 *		http://fi.linkedin.com/in/angelosarnis/
 *
 *	Inluded in this package:
 *		- iPhone5 (black/white, portrait/landscape)
 *		- iPad2 (black/white, portrait/landscape)
 *		- iMac
 *		- MacBook Pro (retina model)
 *		- Nexus 7
 *		- Lumia 920
 *		- Microsoft Surface
 *		- Galaxy S3
 */

 /* GENERAL STYLE */

.device-mockup {
	position: relative;
	width: 100%;
	padding-bottom: 61.775701%;
}

	.device-mockup > .device {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		width: 100%; height: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-image: url("macbook/macbook.png");
	}

		.device-mockup > .device > .screen {
			position: absolute;
			top:    11.0438729%;
			bottom: 14.6747352%;
			left:   13.364486%;
			right:  13.364486%;
			overflow: hidden;
		}

		.device-mockup > .device > .button {
			position: absolute;
			top: 0; left: 0;
			display: none;
			overflow: hidden;
			border-radius: 100%;
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			cursor: pointer;
		}
                

/* DEVICES */

/* iPhone5 */
.device-mockup.iphone5,
.device-mockup.iphone5.portrait {
	padding-bottom: 200.477897%;
}

.device-mockup.iphone5.landscape {
	padding-bottom: 49.9701136%;
}

.device-mockup.iphone5.white > .device,
.device-mockup.iphone5.portrait.white > .device {
	background-image: url("../img/iphone5_port_white.png");
}

.device-mockup.iphone5.landscape.white > .device {
	background-image: url("../img/iphone5_land_white.png");
}

.device-mockup.iphone5 > .device > .screen,
.device-mockup.iphone5.portrait > .device > .screen {
	top: 16.28%; bottom: 16.28%; left: 11.77%; right: 11.77%;
}

.device-mockup.iphone5.landscape > .device > .screen {
	top: 11.722488%; bottom: 11.722488%; left: 16.0191273%; right: 16.0191273%;
}
