body {
  position: relative; /* For scrollyspy */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  /*font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;  
}
/* ----------------------------------
 * home
 * ---------------------------------- */
.home {
    background: url(../img/index.png) no-repeat 50% 100px;    
}
@media (max-width: 767px) {
    .home {
        background: none;
    }   
}
/* ----------------------------------
 * index
 * ---------------------------------- */
.index {
    padding-top: 100px;
    text-align: center;
    background-color: rgba(255, 255, 255, .9);
    min-height: 746px;
}
.index h2 {
    margin-top: 40px;
    font-size: 20px;
}
.index h3 {
    margin-top: 10px;
    color: rgba(0, 0, 0, .8);
    font-size: 16px;
    line-height: 22px;
}
.index .download-link {
    margin: 60px 0 20px;
}
.index .download-link .btn {
    padding: 15px 35px;
    border: 0;
    font-size: 22px;
    opacity: 1;
}
.index .version-text {
    color: rgba(0, 0, 0, .6);
    font-size: 12px;
}
.index .learn-more {
    margin-top: 20px;
    font-weight: bold;
    color: rgba(79, 190, 186, 1);
}
.index .learn-more a,
.index .learn-more a:hover,
.index .learn-more a:active {
    color: #2f9182 !important;
    text-decoration: none;
}
.index .learn-more .icon {
    font-weight: bold;
    font-size: 16px;
}
@media (max-width: 767px) {
    .index {
        padding-top: 0;
        min-height: 600px;
    } 
    .index .download-link .btn {
        padding: 15px;
    }  
}
/* ----------------------------------
 * social
 * ---------------------------------- */
.social {
    position: relative;
    margin-top: -100px;
    margin-bottom: 0;
    padding: 40px 5px;
    height: 99px;
    text-align: center;
    background: rgba(255, 255, 255, .7) url(../img/divider.png) no-repeat 50% 100%;
}
.social li {
    height: 30px;
    display: inline-block;
    vertical-align: top;
}
.social a {
    color: #2f9182 !important;   
}
.social .github-watch {
    width: 105px;
}
.social .github-fork {
    width: 105px;
}
.social .twitter-share {
    width: 80px;
    margin-right: 10px;
}
.social .twitter-follow {
    width: 200px;
}
/* ----------------------------------
 * desc
 * ---------------------------------- */
.desc {
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}
.desc a {
    color: rgba(79, 190, 186, 1);
}
.desc a:hover,
.desc a:active {
    color: #2f9182;
    text-decoration: none;   
}
.desc .desc__introduces h3,
.desc .desc__introduces p {
    margin: 0 auto;
}
.desc .desc__introduces h3 {
    padding: 70px 0 14px;
    max-width: 900px;
    font-size: 28px;
}
.desc .desc__introduces p {
    padding-bottom: 40px;
    max-width: 900px;
    font-size: 18px;
    color: #888;
}
.desc .desc__introduces .photo--responsive img {
    width: 100%;
}
.desc .desc__features {
    margin: 70px auto;
    text-align: left;
}
.desc .desc__features .row {
    margin-bottom: 70px;
}
.desc .desc__features .col-md-6 {
    padding-left: 247px;
    min-height: 240px;
    text-align: left;
}
.desc .desc__features .features__photo {
    position: absolute;
    top: 0;
    left: 0;
}
.desc .desc__features h4 {
    font-size: 20px;
    margin-bottom: 10px;
}
.desc .desc__features p {
    font-size: 16px;
    color: #888;   
    line-height: 26px; 
}
@media (max-width: 767px) {
    .desc .desc__introduces h3 {
        padding-top: 20px;
        text-align: left;
    }
    .desc .desc__introduces p {
        text-align: left;
    }
    .desc .desc__features {
        margin-top: 20px;
    }
    .desc .desc__features .row {
        margin-bottom: 20px;
    }
    .desc .desc__features .row p {
        padding-bottom: 20px;
        text-align: left;
    }
    .desc .desc__features .features__photo {
        position: static;
    }
    .desc .desc__features .col-md-6 {
        padding: 0 15px;
        text-align: center;
    }   
}
/* ----------------------------------
 * docs
 * ---------------------------------- */
.docs-header {
    padding-top: 50px;
    border-top: 1px solid #31a6a3;
    background: url(../img/pw_maze_white.png) repeat 0 0;
}
.docs-header.header--noBackground {
    background: none;
}
@media (max-width: 768px) {
    .docs-header {
        padding-top: 0;
    }   
}
/* ----------------------------------
 * advertisement
 * ---------------------------------- */
.advertisement {
  width: auto !important;
  padding: 10px !important;
  overflow: hidden; /* clearfix */
  font-size: 13px !important;
  line-height: 18px !important;
  text-align: left;
  background: #2f9182 !important;
  border: 0 !important;
  border-radius: 4px;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.075);
  height: 121px;
}
.advertisement-image {
  margin: 0 !important;
  position: absolute;
}
.advertisement-text {
  margin-left: 100px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.advertisement-text a {
  color: #fff !important;
}
@media (max-width: 767px) {
  .advertisement {
    position: static;
    margin-top: 30px;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.075), 0 1px 0 rgba(255,255,255,.1);
  }
}
@media (min-width: 768px) {
  .advertisement {
    position: absolute;
    top: 5px;
    right: 15px; /* 15px instead of 0 since box-sizing */
    padding: 15px !important;
    width: 300px !important;
  }
}
/* ----------------------------------
 * navbar
 * ---------------------------------- */
.navbar-default {
    position: fixed;
    top: 0; 
    left: 0;
    border-radius: 0;
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    z-index: 2000;
}
.navbar-default .nav {
    margin-top: 20px;
}
.navbar-default .nav li a {
    display: block;
    padding: 20px 15px 21px;
    color: #31a6a3;
}
.navbar-default .nav li a:focus, 
.navbar-default .nav li a:hover {
    color: #2f9182;
}
.navbar-default .nav li a:active,
.navbar-default .nav li a.current {
    border-bottom: 3px solid #2f9182;   
}
.navbar-default .navbar-toggle {
    position: relative;
    top: 15px;
    background-color: #2f9182;
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #31a6a3;    
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, .9);
}
.navbar-default .navbar-brand {
    opacity: .7;
    filter:alpha(opacity=70);
    transition: opacity .4s ease-in-out;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active {
    opacity: 1;
    filter:alpha(opacity=100);    
}
@media (max-width: 992px) {
  .navbar-brand { 
    width: 100px;
    overflow: hidden;
  } 
}
@media (max-width: 768px) {
  .navbar-default {
    position: relative;
    top: 0;
  } 
}
/* ----------------------------------
 * topic
 * ---------------------------------- */
.topic {
    position: relative;
    padding: 50px 0 110px;
}
.topic h3 {
    margin-top: 30px;
    color: #fff;
    font-size: 28px;
}
.topic h4 {
    margin-top: 15px;
    color: rgba(255, 255, 255, .8);
}
.topic .topic__infos {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    padding-top: 14px;
    background: rgba(255, 255, 255, 0.25);
    width: 100%;
}
.topic .container {
    position: relative;
    color: rgba(255, 255, 255, .8);
}
.topic .container a {
    color: #fff;
    filter:alpha(opacity=100);
    opacity: 1;
    text-decoration: underline;
    padding: 0;
    font-weight: normal;
}
/* ----------------------------------
 * documents
 * ---------------------------------- */
.documents {
    margin-top: 40px;
}
/* ----------------------------------
 * aside-menu
 * ---------------------------------- */
.aside-menu {
    display: none;
    top: 120px;
}
@media (min-width: 992px) {
  .aside-menu { display: block; } 
}
.aside-menu.affix {
    width: 165px;
}
.aside-menu ul {
    list-style: none;
}
.aside-menu ul > li > a {
    display: block;
    padding: 5px 0 !important;
    font-size: 12px;
    color: #444;
}
.aside-menu ul > li > a:hover,
.aside-menu ul > li > a:focus {
    color: #000;
    background-color: transparent;  
}
.aside-menu ul > li > a:active,
.aside-menu ul > li.active > a {
    color: #2f9182;
    border-right: 2px solid #2f9182;   
}
.aside-menu .aside-menu__title a {
    color: #aaa !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 11px;
}
.aside-menu li ul {
    display: none;
    padding-left: 12px;
}
.aside-menu .nav li.active > ul {
    display: block;
}
/* ----------------------------------
 * details
 * ---------------------------------- */
.details {
    position: relative;
    padding-right: 400px;
}
@media (max-width: 991px) {
    .details { width: 100%; } 
}
@media (max-width: 767px) {
    .details { padding: 0 15px; }
}
/* ----------------------------------
 * device
 * ---------------------------------- */
.device {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    width: 380px;
}
.device.affix {
    position: fixed;
}
.device .device__mockup {
    padding: 115px 28px 111px 32px;
    width: 380px;
    height: 796px;
    background: url("../img/iphone5_port_white.png") no-repeat 0 0;
}
.device .device__mockup .screen {
    position: relative;
    width: 320px;
    height: 569px;
    overflow: hidden;
    background-color: #fff;
}
@media (max-width: 767px) {
    .device {
        display: none;
    }
}
/* ----------------------------------
 * docs-article
 * ---------------------------------- */
.docs-article {
    padding-bottom: 40px;
    min-height: 440px;
    height: 320px;
}
.docs-article.docs--start {
    min-height: 100px;
    height: auto;
}
@media (max-width: 767px) {
    .docs-article, 
    .docs-article.docs--start {
        padding-bottom: 10px;
        min-height: 100px;
        height: auto;
    }
}
.docs-article:last-child {
    margin-bottom: 100px;
}
.docs-article h3 {
    margin: 0 0 10px;
    padding-bottom: 10px;
    border-bottom: 4px double #2f9182;
    font-size: 20px;
    color: #2f9182;
}
.docs-article p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
}
.docs-article a {
    color: #2f9182;
    text-decoration: underline;
}
.docs-article a:hover {
    color: #31a6a3;
}
.docs-article .item__infos {
    margin: 0 0 10px 35px;
    font-size: 16px;
    list-style: disc;
}
.docs-article .item__infos li {
    margin-bottom: 10px;
}
.docs-article .btn-info,
.docs-article .btn-info:hover {
    color: #fff;
    text-decoration: none;
}
/* ----------------------------------
 * example
 * ---------------------------------- */
.example {
    display: none;
    width: 320px;
    height: 569px;
    overflow: hidden;
}
.example .content {
    padding: 10px;
}
.example[data-type="button"] p,
.example[data-type="block-button"] p,
.example[data-type="outline-button"] p,
.example[data-type="icon-button"] p,
.example[data-type="button-group"] .button-group, 
.example .progress {
    margin-bottom: 20px;
}
.example .progress {
    border-radius: none !important;
}
/* ----------------------------------
 * footer
 * ---------------------------------- */
.footer {
    position: relative;
    z-index: 2000;
    padding: 40px 0 20px;
    background-color: #f5f5f5;
}
.footer a,
.footer .connect {
    color: rgba(79, 190, 186, 1);
}
.footer a:hover,
.footer a:active {
    color: #2f9182;
    text-decoration: none;   
}
.footer .row .col-md-4 {
    margin-bottom: 20px;
}
.footer h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
}
.footer ul {
    padding-left: 0;
}
.footer li {
    list-style: none;
    font-size: 14px;
}
.footer hr {
    margin: 20px 0;  
    border: none;
    height: 1px;
    width: 100%;
}
.footer hr.dashed {
    border-top: 1px dashed #ccc; 
}
.footer .icon {
    margin-right: 10px;
    font-size: 28px;
}
.footer form {
    padding: 0 !important;
}
.footer form label {
    font-size: 14px !important;
    font-weight: normal !important;
}
.footer input[type="email"] {
    margin-right: 10px;
    width: 75%;
}
.footer input[type="email"],
.footer input[type="email"]:focus,
.footer input[type="submit"],
.footer input[type="submit"]:active,
.footer input[type="submit"]:focus {
    border: none !important;
}
.footer .email,
.footer .clear {
    float: left;
}
.footer .copyright p:last-child {
    margin-top: 10px;
}
.footer .copyright b {
    font-size: 16px;
}
.footer .download .download__infos {
    font-size: 18px;
}
.footer .download .btn {
    color: #000;
}
.footer .download .btn-info {
    color: #fff;
}
/* ----------------------------------
 * table-box
 * ---------------------------------- */
.table-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.table-box .td__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    padding: 10px;
    width: 25%;
}
/* ----------------------------------
 * masonry
 * ---------------------------------- */
@media (max-width: 2560px) {
  .masonry {
    -webkit-column-count: 2 !important;    
    -moz-column-count: 2 !important;   
    column-count: 2 !important;
  }
}
